{{!-- <mat-icon svgIcon="src={{flags.svg}}"></mat-icon> --}}
<h2 class="name">Имя: {{name}}</h2>
<p class="capital">Capital: {{capital}}</p>
<p class="population">Population: {{population}}</p>
{{!-- <p class="languages">{{languages}}</p> --}}